@import "reset.css";

@font-face {
  font-family: "Sansation";
  src: url(font/Sansation_Light.ttf);
}

@font-face {
  font-family: "ReemKufi";
  src: url(font/ReemKufi-Regular.ttf);
}

* {
  box-sizing: border-box;
}

main {
  background-color: #bec0ca;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hi {
  font-family: "Sansation";
  font-size: 40px;
  color: #5c5c5c;
  height: 100px;
  word-break: break-all;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
.hi:focus {
  outline: none;
  caret-color: rgb(255, 80, 16);
}
.json-wrapper {
  width: 90%;
  max-width: 500px;
  padding: 10px;
  background-color: #242329;
}
code {
  font-family: "ReemKufi";
  line-height: 26px;
  font-size: 14px;
  color: #fae4b9;
  white-space: pre-wrap;
}
.ar-link {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link-wrap {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.linktree {
  width: 200px;
}
a:not(:first-child) {
  margin-left: 30px;
}

small {
  font-family: "ReemKufi";
}

a-scene {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.arjs-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
